{% extends "::base.html.twig" %}

{% block title %}GestionResiBundle:Facturas:enviarMensajeFactura{% endblock %}

{% block body %}
<h1>Welcome to the Facturas:enviarMensajeFactura page</h1>
{% endblock %}
