{% extends "::base.html.twig" %}

{% block title %}GestionResiBundle:Facturas:enviarNotificacionPago{% endblock %}

{% block body %}
<h1>Welcome to the Facturas:enviarNotificacionPago page</h1>
{% endblock %}
