{% extends "::base.html.twig" %}

{% block title %}GestionResiBundle:GestionAdmin:darBajaResidente{% endblock %}

{% block body %}
<h1>Welcome to the GestionAdmin:darBajaResidente page</h1>
{% endblock %}
